<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update app creds: {{field}}</title>
</head>
<body>
    <h1>Update app creds: {{field}}</h1>
    <form id="app_creds_form" class='card-form' action="/update_app_creds" method="POST">
        <input type="hidden" name="field" value="{{ field }}">
        <input type="hidden" name="example" value="{{ example }}">
        <label>Client ID</label>
        <input type="text" name="client_id" value="">
        <label>Client Secret</label>
        <input type="password" name="client_secret" value="">
        <input class='update-button' type="submit" value="Update">
    </form>

    <p id="insecure-message">Please access this page on localhost</p>

    <style>
        #insecure-message {
            display: none;
        }
    </style>
    <script>
        // Hide form if not on localhost
        if (location.hostname != "localhost") {
            let app_creds_form = document.getElementById("app_creds_form");
            let insecure_message = document.getElementById("insecure-message");

            insecure_message.style = "display:block;";
            app_creds_form.style = "display:none;";
        }
    </script>

</body>
</html>