<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update password: {{field}}</title>
</head>
<body>
    <h1>Update password: {{field}}</h1>
    <form id="password_form" class='card-form' action="/update_password" method="POST">
        <input type="hidden" name="field" value="{{ field }}">
        <input type="hidden" name="example" value="{{ example }}">
        <label>Host</label>
        <input id="host-input" type="text" name="host" value="" placeholder="https://my-server.com:1234">
        <label>Username</label>
        <input type="text" name="username" value="">
        <label>Password</label>
        <input type="password" name="password" value="">
        <input id='update-button' class='update-button' type="submit" disabled value="Update">
    </form>
    <p id="insecure-message">Please access this page on localhost</p>

    <style>
        #insecure-message {
            display: none;
        }
    </style>

    <script>
        // Hide form if not on localhost
        if (location.hostname != "localhost") {
            let password_form = document.getElementById("password_form");
            let insecure_message = document.getElementById("insecure-message");

            insecure_message.style = "display:block;";
            password_form.style = "display:none;";
        }

        let hostInput = document.getElementById("host-input");
        let updateButton = document.getElementById("update-button");

        hostInput.addEventListener("change", (event => {
            if (!hostInput.value)   updateButton.disabled = true;
            else                    updateButton.disabled = false;
        }))
    </script>
</body>
</html>