/* Styles used by all apps */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TODO: Rethink this using CUBE CSS */
.top-bar {
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.breadcrumb-item a {
    cursor: pointer;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

/* Hide the page size control */
.react-bootstrap-table-pagination #pageDropDown {
    display: none;
}

.table th {
    border-bottom: 2px solid #333;
}

.total-row th, .total-row td {
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
}

th.total-col, td.total-col {
    border-left: 2px solid #333;
}

.clickable:hover {
    background-color: aliceblue;
    cursor: pointer;
}

/* TicketsModal */
.modal-dialog {
    max-width: 100% !important;
    margin: 1.75rem auto;
    padding: 2rem;
}

/* ConfigurableForm */
.field-description {
    margin-top: 0;
    font-style: italic;
    color: #555;
}

.field-description > * {
    margin-top: 4px;
    margin-bottom: 4px;
}