
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="/static/react/react-app/manifest.json" />
    <script defer="defer" src="/static/react/react-app/main.2d50e04b.js"></script>
    <link href="/static/react/react-app/main.073c9b0a.css" rel="stylesheet">

    <script src="/static/js/react.production.min.js"></script>
    <script src="/static/js/react-dom.production.min.js"></script>
    <script src="/static/js/prop-types.min.js"></script>
    <script src="/static/js/babel.min.js"></script>
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
        window.FORTHIC = `{{forthic | safe}}`;
        window.basename = `{{basename}}`
    </script>
    <style>
        {{css if css}}
    </style>
    <script type="text/babel">
        {{ jsx }}
    </script>
</body>
</html>


